/* Badge.css */

/* Spin animation */
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Apply the spin animation to the image */
  .spin {
    animation: spin 6s linear infinite; /* 2s duration, linear timing, infinite loop */
  }
  